*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background:#000;
  --first:rgb(202, 200, 200);
  --second:rgb(219, 179, 0);
  --third:rgb(114, 111, 111);
  --white:#fafafa;
}


.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
}

.calculator{
  width: 300px;
  padding: 10px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 2px 64px #343030;
  padding: 20px 4px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.buttons button{
  flex: 1 1 20%;
  min-width: 20%;
  padding: 26px;
  outline: none;
  border: none;
  border-radius: 50%;
  /* margin-left: 2px; */
  margin: 2px;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}
.buttons button:hover{
  /* opacity: .9; */
}
.first{
  background-color: var(--first);
}
.second{
  background-color: var(--second);
  color: var(--white);
}
.third{
  background-color: var(--third);
  color: var(--white);
}

.display-section{
  display: flex;
  justify-content: end;
  padding: 10px;
}

span{
  width: 100%;
  color: var(--white);
  text-align: end;
  font-size: 20px;
}
.dot{
  font-size: 20px;
}

p{
color: #fff;
font-weight: 700;
font-size: 13px;
text-align: center;
}
